#root{
  min-height: 100vh;
  height: max-content;
  width: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
  padding: 35px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.422);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
button[type="submit"]{
  padding: 8px 15px;
  border: none;
  background-color: slateblue;
  font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    user-select: none;
    border-radius: 20px;
}